<div class="page-header">
	<h3>Edit conference</h3>
</div>
<%= render 'form' %>





<ul class="pager">
  <li><%= link_to 'Show conference', @conference %> |</li>
  <li><%= link_to 'Back to conferences list', conferences_path %></li>
</ul>