<h3>Edit conference</h3>

<%= render 'form' %>





<ul class="pager">
  <li><%= link_to 'Show conference', @conference %> |</li>
  <li><%= link_to 'Back to conferences list', conferences_path %></li>
</ul>