<div class="container" style="padding-top:70px;">
<div class="span7 offset2">
	<h2>Create new conference</h2>
</div>
</div>
<%= render 'form' %>


<ul class="pager">
  <li>	<%= link_to 'Back to conferences', conferences_path %></li>

</ul>