<div class="container" style="padding-top:70px;">
<div class="span7 offset2">
<h1>Role Information</h1>

</div>
</div>
<div class="container">

<section id="forms">
    <div class="span7 offset2">
      <%= render 'layouts/messages' %>
      <div class="form-horizontal well">
<p>
  <b>Name:</b>
  <%= @role.name %>
</p>
      </div>
      <%= link_to 'Edit', edit_role_path(@role) %> |
<%= link_to 'Back', roles_path %>
  </div>
</section>
</div>