<p>
  <strong>Delegation Assignment:</strong>
  <%= delegation_assignment.id %>
  <%= link_to 'Remove', [delegation_assignment.conference, delegation_assignment], :confirm => 'Really remove delegation assignment?', :method => :delete %>
</p>

