  <legend>Edit delegation assignments</legend>

<%= render 'form' %>

<ul class="pager">
  <li>  <%= link_to 'Back to delegation assignments', delegation_assignments_path %></li>
    <li>  <%= link_to 'Edit to delegation assignments', edit_delegation_assignment_path(@delegation_assignment)  %></li>
</ul>

