
<p>
  <b>List:</b>
  <%= @delegation_assignment.list.list_name %>
</p>

<p>
  <b>Country:</b>
  <%= @delegation_assignment.country.country_name %>
</p>

<p>
  <b>School:</b>
  <%= @delegation_assignment.school.school_name %>
</p>

<p>
  <b>Conference:</b>
  <%= @delegation_assignment.conference %>
</p>



